body {
    background-color: #0e0e0e;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    padding-top: 50px;
    overflow-y: auto;
    min-height: 100vh;
    margin: 0;
    background-image: url('ff.jpg');
    background-size: cover; /* faz a imagem cobrir toda a tela */
    background-position: center; /* centraliza a imagem */
    background-repeat: no-repeat; /* não repetir a imagem */
  }
  h1{
    width: auto;
    border: solid 5px;
    border-radius: 1000px;
    box-shadow: #040730;
    background-color: #000000;
  }
  h2{
    color: #000000;
  }
  
  img {
    width: 200px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid #ff6b81;
    box-shadow: 0 0 15px #ff6b81;
    margin-top: 20px;
  }
  
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
  }
  
  iframe, h2, #contador, #foto {
    position: relative;
    z-index: 1;
  }
  
  #contador {
    font-size: 20px;
    color: rgb(0, 0, 0);
  }
  #button {
    width: 100px;
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: blue;
    box-shadow: 0 0 15px;
    border: 3px solid red;
    border-radius: 20px;
  }
  button {
    position: absolute;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #230447;
    color: white;
    cursor: pointer;
  }
  #botao2, #botao3, #botao4 {
    position: absolute;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #040730;
    color: white;
    cursor: pointer;
  }
  p,#tes,#tt1{
    font-size: 50px;
    color: #000000;
  }
  #buttontx{
    width: 100px;
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(238, 88, 42);
    box-shadow: 0 0 15px;
    border: 3px solid red;
    border-radius: 20px;
  }